.footer__button {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  background: linear-gradient(270deg, #fe5f02 1.17%, #fc9254 99.91%);
  padding: 15px 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
